
#ansh1{
    background-color: blue;
    margin-top: 100px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
#ansh5{
    background-color: brown;
}
#ansh2{
    background-color: bisque;
    margin-top: 5px;

}
#ansh4{
    background-color: blueviolet;
    color: yellow;
}